#quizResults {
    font-size: 1.1em;
    line-height: 1.4;
}

#quizResults h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

#quizResults p {
    margin-bottom: 10px;
}

#quizResults retryQuiz {
    width: 60%;
    padding: 12px;
    font-size: 2em;
    margin: 15px auto;
}



#logout:hover {
    cursor: pointer;
}

#retryQuiz {
    color: #5a220c;
    font-family: 'Goudy Old Style', 'Garamond', serif;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: capitalize;
    margin: 10px;
    margin-left: 30px;
    box-sizing: border-box;
}